@charset "UTF-8";
@import "base/_variables";

.wrap {
    word-break: keep-all;
}
.content {
    padding:60px 16px;
}
.loadingMsg {
    text-align:center;
    font-size:60px;
    font-weight:bold;
}
.historyback {
    position:absolute;
    top: 16px;
    right: 16px;
}

.movieview {
    &__title {
        font-size:36px;
        font-weight:500;
        line-height:1.25;
        text-align:center;
        strong {
            color:$pointColor2;
            font-weight:600;
        }
    }
    &__header {
        margin-bottom:30px;
    }
    &__thumbnail {
        text-align:center;
    }
    &__contentTitle {
        margin-top:20px;
        font-size:24px;
        font-weight:600;
        text-align:center;
    }
}