.button {
  border: 0 none;
  background: var(--button-background, #fff);
  padding: var(--button-padding, 1em);
  border-radius: var(--button-border-radius, 0.625rem);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
